@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: bitwise;
  src: url(./assets/fonts/bitwise.ttf);
}

.dot {
  height: 16px;
  width: 16px;
  margin-right: 2px;
  background-color: #404040;
  border-radius: 50%;
  display: inline-block;
}

.shadowbox {
  border: solid 2px #404040;
  box-shadow: #404040 10px 10px;
}

button:hover {
  animation: shadowpress 900ms ease-in-out forwards;
}

.buttonpress:hover {
  animation: shadowpress 900ms ease-in-out forwards;
}

.card:hover {
  animation: scaler 700ms ease-in forwards;
  animation-delay: 200ms;
}

.blogbox {
  max-width: 200px;
}

.server {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 90px;
  height: 34rem;
  width: 34rem;
}

.intro-position {
  position: absolute;
  z-index: 1;
  top: 200px;
  right: 150px;
  height: 34rem;
  width: 34rem;
}

.intro-font {
  color: #404040;
  line-height: normal;
  letter-spacing: normal;
  font-weight: bold;
}

h1 {
  font-size: 40px;
  line-height: normal;
  letter-spacing: normal;
  font-weight: bold;
}

.customFont {
  font-family: bitwise, sans-serif;
  letter-spacing: 0.04em;
}

.button-read-blogs {
  position: absolute;
  bottom: 50px;
  right: 100px;
}

.desc_style {
  margin-left: 10px;
  list-style-type: circle;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(50, end) infinite alternate-reverse,
    blink-caret 0.7s step-end infinite;
}

.hammer:hover {
  animation: bouncer 800ms ease-in reverse infinite;
}

a {
  text-decoration: none;
  color: #18272f;
  font-weight: 700;
  position: relative;
}

.clickLink::before {
  content: "";
  background-color: hsla(196, 61%, 58%, 0.75);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.clickLink:hover::before {
  bottom: 0;
  height: 100%;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 62%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes shadowpress {
  from {
    transform: translate(0px, 0px);
    box-shadow: #404040 10px 10px;
  }
  to {
    transform: translate(10px, 10px);
    box-shadow: #fbffdc 0px 0px;
  }
}

@keyframes scaler {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.03);
  }
}

@keyframes bouncer {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.grunge-underline {
  border: 0;
  height: 1rem;
  background: url("assets/img/grunge-underline.png") no-repeat;
  background-size: contain;
}
